{% extends "base.html" %}
{% block header%}
    Car List
{% endblock header%}

{% block content%}

	{% for car in cars %} 
	<div class="card">
    
	 {%if  car.car_img.url != null %}
              <img class="card-image" src="{{car.car_img.url}}">
            {%endif%}
      <div class="card-body">
		<a href="{{car.get_absolute_url}}">
			<h1 class="card-title text-uppercas">
				{{car.make}} - {{car.model}}
				<small class="card-text">
					{{car.year}}
				</small>
			</h1>
		</a>
	</div>
		<hr>
	</div>



	{% endfor %}
{% endblock content%}